

<h2 mat-dialog-title>This is a Dialog title</h2>
<!-- <div *ngFor="let book of books.items"> -->
	<mat-dialog-content>
		<p>Title: {{data.title}}</p>
		<p>Author: {{data.authors}}</p>
		<p>Published Date: {{data.publishedDate}}</p>
<!-- 		<p>Title: {{book.volumeInfo.title}}</p>
		<p>Author: {{book.volumeInfo.authors}}</p>
		<p>Published Date: {{book.volumeInfo.publishedDate}}</p> -->
	</mat-dialog-content>

	<mat-dialog-actions>
	    <button class="mat-raised-button" (click)="close()">Close</button>
	</mat-dialog-actions>
	
<!-- </div> -->